watch_file npins/sources.json
watch_file npins-plugins/start.json
watch_file npins-plugins/opt.json
watch_file npins-ts-grammars/sources.json
watch_file pkgs/default.nix
watch_file pkgs/config.nix
use flake . -Lv
