# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: nix-build

concurrency: build

on:
  pull_request:
  push:
    branches: [main]
  workflow_dispatch:

jobs:

  build:
    name: ${{matrix.attribute }} / ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        attribute:
          - .#devShells.x86_64-linux.default
          - .#neovim-polar
    steps:
      - uses: actions/checkout@v4
      - name: Install nix
        uses: cachix/install-nix-action@v30
      - uses: cachix/cachix-action@v15
        with:
          name: polarmutex
          authToken: ${{ secrets.CACHIX_KEY }}
      - run: nix build "${{matrix.attribute}}" -L  --accept-flake-config
